*{
	scroll-behavior: smooth;
}
.navbar{
    margin:0px;
    
    position: sticky;
    top: 0px;
    z-index: 999;
}
.navbar-inverse{
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px; 
    background: #000000;
}
.navbar-inverse .navbar-header a{
    color: rgb(187, 211, 57);
    font-size:28px;
    font-family:MV Boli; 
}
.navbar-inverse .navbar-nav li a{
    color:#b9b30d;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1.9px;
    font-family: Gabriola;
  
}
.navbar-inverse .navbar-right li a{
    color:#030103c0;
    font-size: 20px;
    /* margin-right:30px; */
    font-family: Arial, Helvetica, sans-serif;
  
}
/*........................ Home................  */
#home{
    background:url('../image/program3.jpg');
    height:600px;
    width: 100%;
    padding-top: 100px;
    background-size:cover ;
    /* padding-top:90px; */
    background-attachment: fixed;
}
.img1{
    height: 160px;
    width: 160px;
   border-radius: 100%;
    margin-top: -80px;
    /* margin-left: 150px; */ 
    display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
}
    /*  Introduction  */
.main_h3{
    font-family: 'Times New Roman', Times, serif;
    color: darkgrey;
    font-size: 30px;
    /* margin-left: 30px;   */
    text-align: center;
}
.panel .form-group button:focus{
    border-color: inherit;
    box-shadow: none;
}
.panel .form-group .para{
    font-size: 15px;
    text-align: justify;
    font-family: Cambria;
    font-style: italic;
    
}
.panel .form-group i{
    font-size: 35px;
    margin-left: 15px;
    padding-top: 3px;   
}
.panel .form-group pre{
    background: none;
    border: none; 
}

/* ................profile Menu................. */
#profile p{
    text-align:justify;
    font-size: 25px;
    font-style: italic;
    font-family:serif;
    padding-top:50px ;
}
#profile h2{
    text-align:center;
    font-size: 40px;
    font-weight: bolid;
    font-family:serif;
    padding-top:50px ;
}

.graphic_design {
    
    font-size: 42px;
    margin-top: 50px;
    margin-bottom: -50px;
    color: #00ab9f;
    text-align: center;
}
.graphic_design h3{
    font-size: 25px;
    margin-top: 5px;
    color: #284745;
    /* text-align: center; */
}
.prag{
    color: dimgrey;
    font-size: 20px !important;
    text-align-last: center;
    font-family: serif !important;
    margin-top: -50px;
    display: block;
    width: 100%;
}

/* services Menu second row */
.row2{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* ..................Resume............. */
.resume_h1{
    text-align:center;
    font-size: 40px;
    font-weight: bolid;
    font-family:serif;
    padding-top:75px ;
    padding-bottom: 60px;
}
.fontP p{
    font-size: 15px;
}
.moreInformation{
    padding: 10px;
    border-radius:30px;
    font-size: 15px;
    margin-top:40px;
    margin-bottom: 40px;
    font-weight:bold;
}

/* ..............Galary .............. */
.galary_h2{
    text-align: center;
    padding-top:50px;

}
.images1 img{
    height:350px;
    width: 100%;
    margin-top: 20px;
}

/*----- contact Us---- */

.cont_h3{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 70px;
    margin-bottom: 50px;
    color:rgb(81, 121, 121);
}
.input_control{
    background-color: #f8f8f8;
    /* margin-bottom: 20px; */
}

.form-group input:focus{
    border-color: inherit;
    box-shadow: none;
}

